.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 24px;
  padding-inline: 60px;

  .header-logo-wrapper {
    .header-logo {
      width: 100px;
      height: 35px;
    }
  }

  .header-options-wrapper {
    display: flex;
    gap: 40px;
    align-items: center;

    .header-options {
      display: flex;
      align-items: center;
      height: 24px;
    }

    .header-option-label {
      cursor: pointer;
    }
  }
}
